body {
  height: 100vh;
  padding: 100px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 16px "Segoe UI", Arial, Helvetica, sans-serif;
  background: #f3f3f3;
}

canvas {
  image-rendering: pixelated;
}
